.c{
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.c-bg{
    height: 100%;
    width: 20px;
    background-color: rgb(3, 155, 3);
    position: absolute;
}
.c-wrapper{
    padding: 50px;
    display: flex;
}
.c-left{
    flex: 1;
}
.c-right{
    flex: 1;
}
.c-title{
    font-size: 60px;
    width: 80%;
}
.c-info-item{
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 300;
    width: 70%;
}
.c-icon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.c-desc{
    font-weight: 200;
}
form{
    margin-top: 20px;
}
input{
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid black;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}
textarea{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    padding-left: 10px;
}
button{
    font-weight: 500;
    border: none;
    background-color:rgb(3, 155, 3);
    padding: 15px;
    color: white;
    cursor: pointer;
}
.c-message{
    margin-top: 25px;
    font-weight: 600;
    font-size: 30px;
    color: rgb(19, 224, 98);
    display: flex;
    align-items: center;
}
@media screen and (max-width:480px){
    .c{
        display: block;
    }
    .c-wrapper{
        flex-direction: column;
        /* padding: 30px 50px; */
    }
    .c-title{
        font-size: 30px;
    }
    .c-info-item{
        margin: 20px 0;
        width: 100%;
    }
    .c-desc{
        display: none;
    }
    form{
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
    }
    input{
        width: 40%;
        height: 40px;
        margin: 10px;
        margin-left: 0;
    }
    .c-message{
        font-size: 20px;
    }
}